body{
    background-image: url(fond/login.jpg);
    background-size: cover;
    overflow: hidden;
      
}
h1{
    position: relative;
    left:400px;
    top:0px;
    color:white;
}
div
{
    position:relative;
    left:250px;
    top:30px;
    border:2px solid transparent;
    width:500px;
    height: auto;
    margin-top:center;
    background-color:auto;
   
}
#sary
{
    position:relative;
    top:150px;
    border:2px solid transparent;
    width:130px;
    height: 130px;
   
}
#admin
{
    position:relative;
    left:75px;
    bottom:100px;
    border-color:transparent;
    background-size: 100px;
    width:300px;
    height: 300px;  
}
#user
{
    position:relative;
    left:75px;
    bottom:100px;
    border-color:transparent;
    background-size: 100px;
    width:300px;
    height: 300px;
}
#createU
{
    position:relative;
    left:25px;
    bottom:120px;
    border-color: transparent;
    border-radius:30px;
    background-size: 100px;
    width:350px;
    height:350px;
    margin-right:50px;
    margin-top:50;
    margin-bottom:50;
}
input{
    width: 250px;
    height: 35px;
    border-radius: 30px;
    background-color:transparent;
    font-size:large;
    color:white;
    position:relative;
    left: 20px;
}
#CreUserA
{
    position:relative;
    left: 200px;
    background-color: #00FF80;
}
#CreUserAc
{
    position:relative;
    left: 150px;
    background-color: #00FF80;
}
#CreUserAA
{
    position:relative;
    left: 150px;
    background-color: #00FF80;
}
#creation{

        position :relative;
        left:200px;
        background-color: transparent;
    
}

#utilisateur,#administrateur
{
    position :relative;
    left:150px;

}
legend
{
  color:black;
}
#userA,#userG,#CreateAccount
{
   position :relative;
   left:875px;
   border-color:burlywood; 
   border-radius:40px; 
   background-color: transparent;
}
#stylImg
{
    position :relative;
    right:460px;
}

.erreur{
    color: red;
    margin: 10px 0;
    text-align: center;
}
.succes{
    color:rgb(18, 173, 18);
    margin: 10px 0;
    text-align: center;
}
section{
    border: transparent;
    margin-right: 500px;
    margin-left: 60px;
}
